.category {
  box-shadow: none;
  border-radius: 14px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  .card {
    display: inline-block;
    padding: 0.5rem;
  }
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.scroll-view {
  margin: 1rem;
}

ion-card {
  margin: 0;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.title {
  font-size: min(1.0625rem, 20.4px);
  font-weight: 600;
}