<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Giornali italiani
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scroll-view">
    <ion-searchbar class="ion-padding-top" [debounce]="500"
      (ionInput)="filterNewspapers($event.detail.value)"></ion-searchbar>

    @if(favourites.data.length&&!filteredNewspapers.length){
    <h4 class="title">{{favourites.title}}</h4>
    <div class="scrolling-wrapper">
      @for (paper of favourites.data; track paper.id) {
      <div class="card">
        <ion-card class="category">
          <div class="image-container">
            <ion-img src="assets/{{paper.imagePath}}" (click)="openLink(paper.link)" alt="{{paper.label}}" />
            <ion-icon name="heart" color="danger" (click)="deleteFromFavourites(paper)"></ion-icon>
          </div>
        </ion-card>
      </div>
      }
    </div>
    }

    @for(newspaper of (filteredNewspapers.length?filteredNewspapers:allNewspapers); track newspaper.title){
    <h4 class="title">
      {{newspaper.title}}
    </h4>
    <div class="scrolling-wrapper">
      @for (paper of newspaper.data; track paper.id) {
      <div class="card">
        <ion-card class="category">
          <div class="image-container">
            <ion-img src="assets/{{paper.imagePath}}" (click)="openLink(paper.link)" alt="{{paper.label}}" />
            @if(paper.isFavourite){
            <ion-icon name="heart" color="danger" (click)="deleteFromFavourites(paper)"></ion-icon>
            }
            @else {
            <ion-icon name="heart-sharp" color="base-favourite" (click)="addToFavourites(paper)"></ion-icon>
            }

          </div>
        </ion-card>
      </div>
      }
    </div>
    }


  </div>
</ion-content>