<ion-header>
  <ion-toolbar>
    <ion-title>
      Italienische Zeitungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="scroll-view">
    <ion-searchbar class="ion-padding-top" [debounce]="500"
      (ionInput)="filterNewspapers($event.detail.value)"></ion-searchbar>

    @for(newspaper of filteredNewspapers; track newspaper.title){


    <h4 class="title">
      {{newspaper.title}}
    </h4>


    <div class="scrolling-wrapper">

      @for (paper of newspaper.data; track paper.id) {
      <div class="card">
        <ion-card class="category" (click)="openLink(paper.link)">
          <ion-img src="assets/{{paper.imagePath}}" alt="{{paper.label}}">
          </ion-img>
        </ion-card>
      </div>
      }

    </div>

    }


  </div>
</ion-content>