<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Zeitungen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar></ion-searchbar>
  <ion-grid class="ion-padding-horizontal">
    @for(newspaper of newspapers; track newspaper.title){


    <ion-row>


      <h4 class="title">
        {{newspaper.title}}
      </h4>

    </ion-row>
    <ion-row class="ion-no-padding
">
      <swiper-container [loop]="true">

        @for (paper of newspaper.data; track paper.id) {
        <swiper-slide class="swiper">
          <ion-card class="category">
            <ion-img src="assets/{{paper.imagePath}}" alt="{{paper.label}}">
            </ion-img>
          </ion-card>
        </swiper-slide>
        }

      </swiper-container>

    </ion-row>
    }


  </ion-grid>
</ion-content>